body {
    color: #333;
}

#layout {
    position: relative;
    padding-left: 0;
}

.wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2em;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.6em;
}

.login, .register {
    width: 60%;
    margin: 0 auto;
}

.fa {
    font-size:150%;
    vertical-align:middle;
    line-height: inherit;
}

.fa-caret-right {
    float: right;
}

.instruction {
  width: 85%;
  margin: 0 auto;
}

.button-next {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60) !important;
}

.pure-button:hover {
  background: rgb(202, 60, 60) !important;
}

.error-message {
  color: red;
  font-size:0.8em;
}

#progressbar {
  margin-top: -1px;
  padding: 0;
  height: 10px;
}

#progressbar > svg {
    width: 100%;
    height: 10%;
    display: block;
}

header {
     margin: 0;
     text-align: center;
     color:#999;
     padding: 2.0em 2em 0.5em;
     border-bottom: 1px solid #eee;
     background: url(../image/roodkapje.jpg) no-repeat;
     background-position: right;
     background-size: 78px;
 }
    header h1 {
        margin: 0.2em 0 1em;
        font-size: 2.5em;
        font-weight:100;
        letter-spacing:0.1em;
    }
     header h2 {
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

footer {
  text-align: center;
  font-size:0.7em;
  color:#999;
  border-top:1px solid #eee;
  padding:2.0em 2em 0.5em;
  font-weight:100;
}

.aside {
  padding: 5px;
  font-weight:300%;
  font-size: 1.1em;
  color:#999;

}

#question-form label span {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px 15px;
  display: block;
  cursor: hand; cursor: pointer;
}

#next {
  padding: 10px 15px;
  line-height: 30px;
}

#previous {
    padding: 10px 5px;
    line-height: 30px;
}

#question-form input[type='radio'] {
  display:none;
}

#question-form label input {
    position:absolute;
}

#question-form input:checked + span {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

input[type=text], input[type=password] {
  margin-bottom: .5em;
}

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus{
    border: 1px solid rgb(202, 60, 60);
}

textarea {
    background-color: #f2f2f2;
    width: 95%;
    height:500px;
    resize: none;
    border: none;
    border-radius: 3px;

    overflow: auto;
    overflow-y:scroll;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
