{% extends "base.html" %}
{% block content %}

<div class="storyinfo">
    <table class="pure-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Story ID</th>
                <th>Klaar?</th>
                <th>Annotator</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for (i, storyname, done, user) in stories %}
                {% if i % 2 != 0 %}
                    <tr class="pure-table-odd">
                {% else %}
                    <tr>
                {% endif %}
                    <td>{{ i }}</td>
                    <td>{{ storyname }}</td>
                    <td>{{ done }}</td>
                    <td>{{ user }}</td>
                    {% if done == 'ja' %}
                      <td><a href="{{ url_for('review', storyname=storyname) }}"><i class="fa fa-pencil" style="color: rgb(202, 60, 60);"></i></a></td>
                    {% else %}
                      <td><i class="fa fa-pencil" style="color: #999;"></i></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
