{% extends "base.html" %}
{% block content %}

<script>

    function toForm(question, selected) {
        var form = document.createElement("form");
        form.setAttribute("method", "get");
        form.setAttribute("action", "");
        form.setAttribute("class", "pure-form");
        form.setAttribute("name", question["number"]);
        if (question["qtype"] === "R" || question["qtype"] === "B") {
            var c = 0;
            for (var oi = 0; oi < question["options"].length; oi++) {
                var option = question["options"][oi];
                c++;
                var label = document.createElement("label");
                label.setAttribute("for", question["number"] + "-" + c);
                label.setAttribute("class", "pure-radio");
                label.setAttribute("accesskey", c);
                var field = document.createElement("input");
                field.setAttribute("type", "radio");
                field.setAttribute("value", option);
                field.setAttribute("id", question["number"] + "-" + c);
                field.setAttribute("name", question["number"]);
                if (option === selected) {
                    field.checked = true;
                }
                label.appendChild(field);
                span = document.createElement("span");
                span.innerHTML = option;
                label.appendChild(span);
                form.appendChild(label);
            }
        } else {
            var field = document.createElement("input");
            field.setAttribute("type", "text");
            field.setAttribute("name", question["number"]);
            field.setAttribute("class", "pure-input-1");
            if (typeof selected !== 'undefined') {
                field.setAttribute("value", selected);
            }
            form.appendChild(field);
            form.setAttribute("onkeypress", "return event.keyCode != 13;");
        }
        return form;
    }


    var questions = {{ questions|tojson|safe }};

    $(document).ready(function() {

    var line = new ProgressBar.Line('#progressbar', {
        color: "rgb(202, 60, 60)",
        strokeWidth: 0.1
    });

    var skip = new Object();
    for (var i = 0; i < questions.length; i++) {
        var question = questions[i];
        skip[question.number] = false;
    }

    var lookup = {};
    for (var i = 0; i < questions.length; i++) {
        lookup[questions[i].number] = i;
    }

    var progressPerAnswer = 1.0 / questions.length;
    var questionPath = [];
    answers = new Object();
    answers['answers'] = new Object();

    currentQuestion = 0;
    question = questions[currentQuestion];
    questionPath.push(question.number);
    $("#description").html(question["question"])
    $("#question-form").html(toForm(question));

    $("#previous").click(function() {
        if (questionPath.length === 0 || currentQuestion === 0) {
            return false;
        } else {
            question = questions[lookup[questionPath.pop()]];
            // reset the skipped questions.
            var queue = [];
            for (var i = 0; i < question.skip.length; i++) {
                queue.push(question.skip[i]);
            }
            while (queue.length > 0) {
                var toskip = queue.shift();
                skip[toskip] = false;
                var skip_question = questions[lookup[toskip]];
                for (var i = 0; i < skip_question.skip.length; i++) {
                    queue.push(skip_question.skip[i]);
                }
            }
            var givenAnswer = answers['answers'][question.number];
            currentQuestion = lookup[question.number];
            var progressMade = currentQuestion * progressPerAnswer
            line.animate(progressMade);
            $("#description").html(question["question"]);
            $("#question-form").html(toForm(question, givenAnswer));
        }
        return false;
    });

    $("#next").click(function() {
      var data = $('.pure-form').serializeArray()[0];
      if (typeof(data) == 'undefined' || data.value == null || data.value == "") {
          if (confirm("Weet je zeker dat je geen antwoord kunt geven?") == false) {
              return false;
          } else {
              data = new Object();
              data.name = question.number;
              data.value = "NO ANSWER PROVIDED";
          }
      }
      questionPath.push(question.number);
      answers['answers'][data.name] = data.value;
      for (var qi = 0; qi < question.default.length; qi++) {
        if (data.value === question.default[qi]) {
            var queue = [];
            for (var i = 0; i < question.skip.length; i++) {
                queue.push(question.skip[i]);
            }
            while (queue.length > 0) {
                var toskip = queue.shift();
                skip[toskip] = true;
                var skip_question = questions[lookup[toskip]];
                for (var i = 0; i < skip_question.skip.length; i++) {
                    queue.push(skip_question.skip[i]);
                }
            }
            break;
        }
      }
      var nextQuestion = false;
      for (var i = currentQuestion + 1; i < questions.length; i++) {
          if (skip[questions[i].number] === false) {
              if (questions[i].qtype !== "connecting") {
              currentQuestion = i;
              nextQuestion = true;
              break;
              }
          }
      }
      if (nextQuestion) {
          // update the html content
          var progressMade = currentQuestion * progressPerAnswer
          line.animate(progressMade);
          question = questions[currentQuestion];
          $("#description").html(question.question);
          $("#question-form").html(toForm(question, answers['answers'][question.number]));
          return false;
      } else {
          line.animate(1.0);
          // first update the answers object with default answers
          for (var i = 0; i < questions.length; i++) {
              if (skip[questions[i].number] === true) {
                  answers['answers'][questions[i].number] = questions[i].default[0];
              }
          }
          // add the possibly updated story contents
          answers['story'] = $('textarea').val();
          // perform the request
          $.ajax({
            contentType: 'application/json;charset=UTF-8',
            url: "{{ story.storyname }}",
            data: JSON.stringify(answers),
            type: 'POST',
            dataType: 'json',
            success: function (r) {
                console.log(r);
                $("#questionaire").html("Dank voor je hulp!");
                var button = document.createElement("button");
                button.setAttribute("type", "submit");
                button.setAttribute("class", "button-next pure-u-1 pure-button");
                button.setAttribute("onclick", "window.location='/'");
                button.innerHTML = "Volgende verhaal";
                div = document.getElementById("questionaire");
                div.appendChild(button);
            }
        });
          return true;
      }
  });
});
</script>

<div class="pure-g">
    <div class="pure-u-17-24">
        <textarea>{{ story.story }}</textarea>
    </div>
    <div id="questionaire" class="pure-u-7-24">
        <div id="description" class="aside"></div>
        <div id="question-form"></div>
        <div class="pure-g">
            <button type="submit" class="button-next pure-u-4-24 pure-button" id="previous"><i class="fa fa-caret-left"></i></button>
            <button type="submit" class="button-next pure-u-20-24 pure-button" id="next">Volgende vraag<i class="fa fa-caret-right"></i></button>
        </div>
    </div>
</div>

{% endblock %}
