{% extends "base.html" %}
{% block content %}

     <div class="instruction">
     <p>Hoi {{ user.firstname }},</p>
     <p>Roodkapje is misschien wel het meest bekende sprookje ter wereld. Duizenden en duizenden keren 
     is het verhaal van het meisje met het rode kapje opnieuw verteld, opgeschreven, 
     in beeld gebracht en zelf op muziek gezet. Hoewel het soms lijkt dat de meeste van die hervertellingen
     hetzelfde zijn, laten ze allemaal opvallende variaties zien. Wij zijn geinteresseerd in al deze kleine
     variaties. Het doel van dit annotatieexperiment is om een grote hoeveelheid Roodkapje-versies van 
     annotaties te voorzien, waarmee we de variaties en de evolutie van het sprookje in Nederland 
     in kaart proberen te brengen</p>
     <p>Je krijgt telkens een verhaal te lezen en daarna wordt je gevraagd een flinke hoeveelheid vragen te beantwoorden.
     De meeste vragen zijn eenvoudige "ja-nee"-vragen. Vragen met een open tekstvak moeten telkens ingevuld worden met losse
     woorden, gescheiden door een komma. Als er geen relevant antwoord te geven is, moet je een streepje (-) plaatsen.</p>

     <p>Er zijn nog {{ to_do }} Roodkapjes om te annoteren.</p>
     <a href="{{ url_for('annotate', storyname=story.storyname) }}">Annoteer het volgende verhaal!</a>
     </div>
   
{% endblock %}