{% extends "base.html" %}
{% block content %}

<script>
var todo = {{ to_do }};
var line = new ProgressBar.Line('#progressbar', {
      color: "rgb(202, 60, 60)",
      strokeWidth: 0.1
    });
line.animate((427 - todo) / 427);
</script>

<div class="instruction">
     <p>Hoi {{ user.firstname }},</p>
     <p>Sneeuwwitje is misschien wel het meest bekende sprookje ter wereld. Duizenden en duizenden keren
     is het verhaal opnieuw verteld, opgeschreven, in beeld gebracht en zelfs op muziek gezet. Hoewel het soms lijkt dat de meeste van die hervertellingen vrijwel hetzelfde zijn, laten ze allemaal opvallende variaties zien. Wij zijn geinteresseerd in al deze (kleine) variaties. Het doel van dit experiment is om een grote hoeveelheid Sneeuwwitje-versies van annotaties te voorzien.</p>

     <p>In dit experiment krijg je telkens een verhaal te lezen en daarna wordt je gevraagd een
         flinke hoeveelheid vragen te beantwoorden. De meeste vragen zijn eenvoudige "ja-nee"-vragen.
         Sommige vragen zijn multiple-choice en er is ook een aantal vragen met een open tekstvak.
         Deze tekstvakken moeten ingevuld worden met losse woorden, gescheiden door een komma.
         Soms is er geen relevant antwoord te geven. In dat geval plaats
         je een streepje als antwoord: "-". </p>

     <p>De teksten zijn allemaal overgetypt of ge-OCR'd en daarom kan het zijn dat er hier en
         daar tikfouten of andere onregelmatigheden in de tekst aanwezig zijn. Als je zo'n fout
         ziet, zou het fijn zijn als je die verbetert.</p>

    <div class="index-buttons">
      {% if story != "GEEN VERHALEN MEER" %}
      <a class="button-next pure-input-1 pure-button" href="{{ url_for('annotate', storyname=story.storyname) }}">
        Annoteer
        <i class="fa fa-pencil"></i></a>
      {% endif %}
      <a class="button-next pure-input-1 pure-button" href="{{ url_for('administration') }}">
        Overzicht
         <i class="fa fa-table"></i></a>
      <a class="button-next pure-input-1 pure-button" href="{{ url_for('graphs') }}">
        Grafiek
         <i class="fa fa-pie-chart"></i></a>

    </div>
</div>
{% endblock %}
